/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
body {background-color: black;}
h1 {text-align: center; color: #E4B77D;}
.navbar {background-color: #E4B77D;}
#updates {text-align:center; color: white;}
.card-group, #about {margin:0 auto; width: 700px;}

div.scroll-container {
  background-color: #E4B77D;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}
.about {align-content: center;}
#suzanne {width: 75%;}

#about {margin-top: 50px;}

.books {text-align: left; padding-left: 25px;}

